@model IEnumerable<YummyNummies.Models.Recipe>

@{
    ViewData["Title"] = "My Recipes";
}

<h1>My Recipes</h1>

<p>
    <a asp-action="Create">Add Recipe</a>
</p>

<!--Sortable Table-->
<table class="table table-striped table-hover sortable">
    <thead>
        <tr>
            <th class="sorttable_nosort">
                <!--Photo (not sortable)-->
            </th>
            <th>
                <a href="#">Name</a>
            </th>
            <th>
                <a href="#">Rating</a>
            </th>
            <th>
                <a href="#">Cook Time</a>
            </th>
            <th>
                <a href="#">Category</a>
            </th>
            <th class="sorttable_nosort">
                <!--CRUD Function Buttons (not sortable)-->
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <!--Display REcipe Photo (if any)-->
                @if (item.Photo != null)
                {
                    <img src="~/img/recipes/@item.Photo" alt="Recipe Photo" class="smallPhoto" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)/5
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookTime) mins
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
