@model IEnumerable<YummyNummies.Models.Recipe>
@{ ViewData["Title"] = "Browse Our Recipes";}
<h1>I Want @ViewBag.Category</h1>

<section class="row card-group">
    @foreach (var p in Model)
    {
        <div class="col-sm-6 col-lg-4 mb-3">
            <div class="card mb-3 text-center h-100">
                <div class="card-body">
                    <h5>
                        <a asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@p.RecipeId">
                            @p.Name
                        </a>
                    </h5>
                    @if (p.Photo != null)
                    {
                        <img src="~/img/recipes/@p.Photo" alt="Recipe Image" class="smallPhoto" />
                    }
                    <h6 class="data-sm">Rating: @p.Rating/5</h6>
                    <h6>Cooking Time: @p.CookTime min</h6>
                </div>
            </div>
        </div>
    }
</section>
